{{ define "main" }}
<section class="section section-sm bg-gradient-dark pb-6">
    {{ partial "heroes/clouds.html" }}
    <div class="container pb-6 pt-7">
        <div class="row justify-content-center align-items-center text-white gap-3">
            <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
            <p class="text-center px-4 px-md-8">{{ .Description }}</p>
        </div>
    </div>
    <div class="container mb-6">
        <div class="row text-center gx-3 gy-3 text-white">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="color-card-border">
                    <div class="pricing-card gap-4">
                        <h3>Community</h3>
                        <div class="price-tag mb-3">
                            <h3>Free</h3>
                        </div>
                        <div class="d-flex flex-column gap-4">
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Basic APIs") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "m3taserve Cockpit UI" "link" "/products/cockpit") }}
                        </div>
                        <div class="w-100 flex-grow-1 d-flex align-items-end">
                            <a href="https://github.com/m3taserve/m3taserve" target="_blank" class="btn btn-primary btn-tertiary w-100">GET STARTED</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="color-card-border">
                    <div class="pricing-card gap-4">
                        <h3>Pro</h3>
                        <div class="price-tag flex-column mb-3 p-2">
                            <h3 class="align-items-center justify-content-around">
                                <span class="fs-3" style="text-decoration: line-through; color: #ccbbcc">$35</span>
                                <span class="fs-2" style="color: #E126C3; margin-left: 10px">$28</span>
                            </h3>
                            <h3 class="fs-6">per user per month*</h3>
                        </div>
                        <div class="d-flex flex-column gap-4">
                            <div class="text-start fs-6">Everything in Community, plus:</div>
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Advanced APIs" "link" "https://docs.m3taserve.cloud/aws/feature-coverage/" "linktext" "See full feature coverage") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "CI starter tier¹") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "IAM security enforcement") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "State persistence for individual debugging") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Best-effort support (Slack)") }}
                        </div>
                        <div class="w-100 flex-grow-1 d-flex align-items-end">
                            <a href="https://app.m3taserve.cloud" target="_blank" class="btn btn-primary btn-tertiary w-100">START FREE TRIAL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="color-card-border">
                    <div class="pricing-card gap-4">
                        <h3>Team</h3>
                        <div class="price-tag flex-column mb-3 p-2">
                            <h3 class="align-items-center justify-content-around">
                                <span class="fs-3" style="text-decoration: line-through; color: #ccbbcc">$70</span>
                                <span class="fs-2" style="color: #E126C3; margin-left: 10px">$35</span>
                            </h3>
                            <h3 class="fs-6">per user per month**</h3>
                        </div>
                        <div class="d-flex flex-column gap-4">
                            <div class="text-start fs-6">Everything in Pro, plus:</div>
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "CI performance tier²") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Team usage analytics") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Shared cloud pods for collaborative debugging") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Cloud pods storage³") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Prioritized best effort-support (Slack)") }}
                        </div>
                        <div class="w-100 flex-grow-1 d-flex align-items-end">
                            <a href="https://app.m3taserve.cloud" target="_blank" class="btn btn-primary btn-tertiary w-100">START FREE TRIAL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="color-card-border">
                    <div class="pricing-card gap-4">
                        <h3>Enterprise</h3>
                        <div class="price-tag mb-3">
                            <h3>Contact us</h3>
                        </div>
                        <div class="d-flex flex-column gap-4">
                            <div class="text-start fs-6">Everything in Team, plus:</div>
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Unlimited CI usage") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "CI analytics") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Advanced cloud pods storage⁴") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "SSO Support") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Dedicated tech support via ticketing system with SLAs") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Shared instances") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Offline image") }}
                            {{ partial "misc/pricing-feature.html" (dict "featureName" "Custom or on-premise installations") }}
                        </div>
                        <div class="w-100">
                            <a href="#contact" class="btn btn-primary btn-tertiary w-100">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container text-white fst-italic d-flex flex-column gap-2 fs-6">
        <div>
            * 14 days <b>free trial</b>, plus 20% introductory discount for the first 2 months
        </div>
        <div>
            ** 14 days <b>free trial</b>, plus 50% introductory discount for the first 3 months
        </div>
        <div>
            1: 100 base credits for the first 3 users + 20 additional credits per additional user / month
        </div>
        <div>
            2: 1000 base credits for the first 3 users + 200 additional credits per user / month
        </div>
        <div>
            3: managed cloud storage, limit of 500 MB per user
        </div>
        <div>
            4: managed cloud storage, limit of 5 GB per seat
        </div>
        <div>
            If you are a student or an educator, you can avail 6 months educational access to m3taserve through 
            our <a href="/educational-license" class="text-white"><u>Educational License program</u></a>.
        </div>
        <div>
            If you are running a non-commercial, open-source project, you can avail 12 months access to m3taserve through
            our <a href="/open-source-sponsorship" class="text-white"><u>Open Source Sponsorship program</u></a>.
        </div>
    </div>
</section>
{{/*  Currently no Quiz available  */}}
{{/*  <section class="section section-sm mb-5">
    <div class="container overlay-card mt-n8 pb-5 d-flex flex-column align-items-center">
        <h1 class="text-center">Which one is for me?</h1>
        <button class="btn btn-primary btn-lg" style="width: 300px">START QUIZ</button>
    </div>
</section>  */}}

{{ partial "section/reviews.html" . }}

<section class="section mb-10">

</section>

{{ partial "section/contact.html" . }}

<section class="section container">
    <p class="text-center">
      At m3taserve, we believe that empowering developers and giving them full control over their environments is the key to driving innovation. We live and breathe developer experience in everything we do, and have set out to pursue the audacious goal of seamlessly integrating and complementing the centralized nature of the cloud with our suite of tools that allow developers to build decentralized dev & test loops for full flexibility, control, and unprecedented cloud development speed.
    </p>
    <br/>
    <p class="text-center">
      Only made possible through countless contributions from the open source community and our top-notch team, we have managed to revolutionize the cloud development experience. Today, we are fortunate to be working with a growing community of users and customers, with 100s of thousand developers using m3taserve on a regular basis, and a growing number of organizations leveraging our platform to optimize their development pipelines and team collaboration flows.
    </p>

    <div class="strike-dark mt-6">
      <h2 class="text-center">Timeline</h2>
    </div>
    
    <div class="d-flex flex-row mt-6">
        <div class="timeline-grid">
            <div style="grid-column: 2/2; grid-row: 1 / 10" class="p-4 d-none d-lg-flex">
                <div class="bg-white w-100 h-100 justify-content-center d-flex shadow-standard">
                    <div style="background-color: #E126C3; width: 14px; border-radius: 30px; z-index: 1003" class="h-100"></div>
                </div>
            </div>
            <div style="grid-column: 1 / 4; grid-row: 1/1">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2016"
                    "cardText" "August 16th"
                    "cardDescription" "First open source commits of m3taserve in GitHub repository (initial support for 8 AWS services)"
                    "image" "/images/company/leafs.svg"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 2/2">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2017"
                    "cardText" "March 27th"
                    "cardDescription" "Several high-profile tweets and social media posts make m3taserve popular overnight"
                    "image" "/images/company/twittershout.svg"
                    "reverse" "true"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 3/3">                
                {{ partial "misc/timeline-card.html" (dict
                "cardHeading" "2018"
                "cardText" "March"
                "cardDescription" "Reaching 10.000 stars on GitHub"
                "image" "/images/company/10k.svg")
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 4/4">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2019"
                    "cardText" "July"
                    "cardDescription" "m3taserve Pro extensions - first version available"
                    "image" "/images/company/gears.svg"
                    "reverse" "true"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 5/5">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2020"
                    "cardText" "July"
                    "cardDescription" "Reaching 25.000 stars on GitHub, more than 50+ AWS services supported in m3taserve"
                    "image" "/images/company/checks.svg"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 6/6">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2021"
                    "cardText" "May"
                    "cardDescription" "m3taserve GmbH incorporated in Switzerland"
                    "image" "/images/company/writing.svg"
                    "reverse" "true"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 7/7">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2022"
                    "cardText" "May"
                    "cardDescription" "Reached 20+ team members, and growing!"
                    "image" "/images/company/members.svg"
                    )
                }}
            </div>
            <div style="grid-column: 1 / 4; grid-row: 8/8">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "2022"
                    "cardText" "July"
                    "cardDescription" "Release of m3taserve version 1.0.0"
                    "image" "/images/company/release.svg"
                    "reverse" "true"
                    )
                }} 
            </div>
            <div style="grid-column: 1 / 4; grid-row: 9/9">
                {{ partial "misc/timeline-card.html" (dict
                    "cardHeading" "Now"
                    "cardText" "and beyond"
                    "cardDescription" "Let's shape the future of cloud development together!"
                    "image" "/images/company/m3taserveFuture.svg"
                    )
                }} 
            </div>
        </div>
    </div>
</section>

{{ partial "section/job-common.html" .}}
<style>
    .fade-background {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%) !important;
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1002;
    }
    .fade-background > .card {
        background-color: rgba(0, 0, 0, 0);
    }
</style>

{{ end }}
