
{{ define "main" }} 

<section class="section section-sm" x-data="user()">
<div class="container mt-2 mb-2 d-flex justify-content-center">
  
    <div class="overlay-cardX col-5 mt-6">
    <div class="row align-items-center gy-2">

        <!--
        <ul class="nav nav-pills nav-fill" role="tablist" style="z-index: 1; ">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Sign In</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Sign Up</button>
          </li>
        </ul>
        -->

      <div class="col-10 tab-content text-center">
        
        <div style="height: 60px;"><a href="/"><img src="/images/m3taserve.svg" height="33px" alt="Logo" style="margin-bottom: -10px;"></img></a></div>
        
        <template x-if="window.location.pathname.replaceAll('/','') == 'signin'">
        <div>
          <h1>Log In</h1>
          <p>Enter your email address and password.</p>                  
          <div style="margin-top: 10px;">

              <div class="row form-group gy-1 gy-md-3 mb-3 has-validation">
                <div class="col-12">
                  <input type="email" class="contact-textbox" placeholder="Email" required x-model="form.email.value"/>
                  <div style="text-align: left; font-size: 12px; padding: 5px;" x-text="form.email.errorMessage"></div>
                </div>
              </div>
              
              <div class="row form-group gy-1 gy-md-3 mb-3">
                <div class="col-12">
                  <input type="password" class="contact-textbox" placeholder="Password" required x-model="form.password.value"/>
                  <div style="text-align: left; font-size: 12px; padding: 5px;" x-text="form.password.errorMessage"></div>
                </div>
              </div>
  
              <div class="row form-group mt-4">
                <div class="mt-2 mb-2 text-sm leading-5">
                  <a href="/reset" class="font-medium">Forgot your password?</a>
                </div>
              </div>

              <div class="row form-group">
                <div class="mt-2 text-sm leading-5">
                  <button class="btn btn-primary btn-tertiary btn-lg btn-block" @click="submit('signin')">Log In</button>
                </div>
              </div>

              <template x-if="form.validation.successMessage.length > 0">
              <div class="row justify-content-md-center">
                <div class="mt-4 col-6">
                  <div class="d-flex align-items-center" role="alert" style="height: 12px;">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div style="text-align: left; font-size: 14px; padding: 5px;" x-text="form.validation.successMessage"></div>
                  </div>
                </div>
              </div>
              </template>
              <template x-if="form.validation.errorMessage.length > 0">
              <div class="row justify-content-md-center">
                <div class="mt-4 col-10">
                  <div class="d-flex align-items-center" role="alert" style="height: 12px; padding-left: 10px;">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div style="text-align: left; font-size: 14px; padding: 5px;" x-text="form.validation.errorMessage"></div>
                  </div>
                </div>
              </div>              
              </template>

              <div class="row form-group mt-4">
                <div class="mt-2 text-sm leading-5">
                  Don’t have an account yet?
                  <a href="/signup" class="font-medium">Sign up</a>             
                </div>
              </div>

          </div>
        </div>
        </template>
        <template x-if="window.location.pathname.replaceAll('/','') == 'signup'">
        <div> 
          <h1>Create an account</h1>
          <p>Sign up with your email and a password.</p>
          <div style="margin-top: 10px;">
  
              <div class="row form-group gy-1 gy-md-3 mb-3">
                <div class="col-12">
                  <input type="email" class="contact-textbox" placeholder="Email" required x-model="form.email.value"/>
                  <div style="text-align: left; font-size: 12px; padding: 5px;" x-text="form.email.errorMessage"></div>
                </div>
              </div>
              
              <div class="row form-group gy-1 gy-md-3 mb-3">
                <div class="col-12">
                  <input type="password" class="contact-textbox" placeholder="Password" required x-model="form.password.value"/>
                  <div style="text-align: left; font-size: 12px; padding: 5px;" x-text="form.password.errorMessage"></div>
                </div>
              </div>

              <div class="row form-group">
                <div class="mt-2 text-sm leading-5">
                  <button class="btn btn-primary btn-tertiary btn-lg btn-block" @click="submit('signup')">Sign Up</button>
                </div>
              </div>

              <div class="row form-group mt-4">
                <div class="mt-2 text-sm leading-5">
                  Already have an account?
                  <a href="/signin" class="">Log in</a>             
                </div>
              </div>

            </div>
        </div>
        </template>
        <template x-if="window.location.pathname.replaceAll('/','') == 'reset'">
          <div> 
            <h1>Reset password</h1>
            <p>Enter your email address and we will send you a password reset link.</p>
            <div style="margin-top: 10px;">
    
                <div class="row form-group gy-1 gy-md-3 mb-3">
                  <div class="col-12">
                    <input type="email" class="contact-textbox" placeholder="Email" required x-model="form.email.value"/>
                    <div style="text-align: left; font-size: 12px; padding: 5px;" x-text="form.email.errorMessage"></div>
                  </div>
                </div>
                
                <div class="row form-group">
                  <div class="mt-2 text-sm leading-5">
                    <button class="btn btn-primary btn-tertiary btn-lg btn-block" @click="submit('reset')">Send</button>
                  </div>
                </div>

            </div>
          </div>
        </template>

<!--
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form style="margin-top: 10px;">

            <div class="row form-group gy-1 gy-md-3 mb-5">
              <div class="col-12">
                <label class="font-bold text-grey-darker block mb-2">Email</label>
                <input type="email" class="contact-textbox" placeholder="Your email" required x-model="form.email"/>
              </div>
            </div>
            
            <div class="row form-group gy-1 gy-md-3 mb-5">
              <div class="col-12">
                <label class="font-bold text-grey-darker block mb-2">Password</label>
                <input type="password" class="contact-textbox" placeholder="Your password" name="password" required x-model="form.password"/>
              </div>
            </div>
            
            <div class="row form-group gy-1 gy-md-3">
              <div class="mt-2 text-sm leading-5">
                <a class="btn btn-primary btn-tertiary d-flex" @click="signin()"><i class="bi bi-person me-2"></i> Sign In</a>
              </div>
            </div>

            <div class="row form-group gap-2 mt-4">
              <div class="mt-2 text-sm leading-5">
                <a @click="reset()" href="#" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                  Forgot your password?                  
                </a>
              </div>
              <div class="mt-2 text-sm leading-5">
                <a @click="signup()" href="#" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                  No account ? <i class="bi bi-person ms-2 me-2"></i> Sign Up
                </a>             
              </div>
            </div>

          </form>
          </div>
-->

          <!--
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form>

            <div class="row form-group gy-1 gy-md-3 mb-5">
              <div class="col-12">
                <label class="font-bold text-grey-darker block mb-2">Email</label>
                <input type="email" class="contact-textbox" placeholder="Your email" required x-model="form.email"/>
              </div>
            </div>
            
            <div class="row form-group gy-1 gy-md-3 mb-5">
              <div class="col-12">
                <label class="font-bold text-grey-darker block mb-2">Password</label>
                <input type="password" class="contact-textbox" placeholder="Your password" name="password" required x-model="form.password"/>
                <input type="password" class="contact-textbox" placeholder="Your password" name="password" required x-model="form.password2"/>
              </div>
            </div>
            
            <div class="row form-group gy-1 gy-md-3">
              <div class="flex flex-col gap-2 mb-5">
                
              </div>                 
            </div>

          </form>
          </div>
          -->

        </div>
        
  </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Error</strong>
        <small></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" x-text="msg"></div>
    </div>
  </div>
  
</div>
</section>

{{ end }}
