
{{ define "main" }} 

{{ partial "heroes/base.html" (dict "Title" .Title "HeroIcon" "cloud") }}

<section class="section container mt-n7" x-data="user()">
  <div class="overlay-card mb-5" style="padding-top: 10px;">
    <div class="row align-items-center gy-2">

      <div class="row form-group gy-1 gy-md-3 mb-5">
        <div class="col-6">
          <template x-if="logged">
            <label class="font-bold text-grey-darker block mb-2 float-start">Email </label><div x-text="identity.email" class="text float-end"></div>
          </template>
          <template x-if="!logged">
            <div>User must be logged</div>
          </template>
        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
