{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block col-xl-2" style="margin-top: 4rem !important;">
			<nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/docs-menu.html" . }}
			</nav>
		</div>

        <main class="docs-content col-lg-11 col-xl-9 mx-xl-auto" x-data="user()">

            <h1 class="text-center mt-6 mb-6">{{ .Title }}</h1>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>

            <div x-init="fetch('{{ .Params.quizz }}').then(response=> { if (!response.ok) console.log(`Something went wrong: ${response.status} - ${response.statusText}`); return response.json(); }).then(data => quizz.entries = data.entries)">
            {{ $currentWeight := .Weight -}}
            <template class="mt-6 mb-6" x-if="logged">
            <div>
                <template x-for="entry, idx in quizz.entries">
                    <div class="pb-4">
                        <div x-text="entry.title"></div>
                        <div class="form-check">
                        <template x-for="answer, num in entry.answers">
                            <div class="pb-2">
                                <input class="form-check-input" x-bind:name="'question_'+idx" type="radio" @click="quizz.answers[idx] = num"></input>
                                <label class="form-check-label" x-text="answer"></label>
                            </div>
                        </template>
                        </div>
                    </div>
                </template>
                <button type="button" class="btn btn-primary btn-tertiary" @click="publish({{ $currentWeight }}, 'quizz', { answers: quizz.answers }); publish({{ $currentWeight }}, 'progress', {}); sent = true;">Send</button>
            </div>
            </template>
            <template class="mt-6 mb-6" x-if="!logged">
            <div style="border-top: 1px solid gray; border-bottom: 1px solid gray; height: 80px; padding: 20px 5px 10px 5px;">
                <div class="float-start">You need to be signed-in to submit your quiz.</div>
                <div class="float-end"><a class="btn btn-primary btn-tertiary" type="link" href="/signin"><i class="bi bi-person"></i> SIGN IN</a></div>
            </div>
            </template>
            </div>
			
            <div class="docs-navigation d-flex justify-content-between">
                {{ $currentWeight := .Weight -}}
                {{ $pages := where site.RegularPages "Section" .Section -}}
                {{ with $pages.Next . -}}
                    <a href="{{ .RelPermalink }}">
                        <div class="card my-1">
                            <div class="card-body py-2">
                                &larr; {{ .Title }}
                            </div>
                        </div>
                    </a>
                {{ end -}}                
                {{ with $pages.Prev . -}}
                <template x-if="sent">
                    <a class="ms-auto" href="{{ .RelPermalink }}" @click="publish({{ $currentWeight }}, 'progress', {})">
                        <div class="card my-1">
                            <div class="card-body py-2">
                                {{ .Title }} &rarr;
                            </div>
                        </div>
                    </a>
                </template>
                {{ end -}}
            </div>
            
		</main>
	</div>
{{ end }}
