{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-8">
    <article x-data="user()" x-init="retrieve()" class="d-flex justify-content-center">

	<table class="mt-8" style="border-color: transparent; max-width: 80%;">
		<tr style="text-align: left; vertical-align: top;">
		{{ $currentPage := . }}
		{{- range .Site.Menus.courses -}}
		{{ $currentCourse := .Name }}
		<td>

			<div class="course-card">
				<h3><a href="#" class="primary text-secondary">{{ .Name }}</a></h3>
				<div class="divider"></div>
				<ul class="mt-4">
				{{ range where $currentPage.Site.RegularPages.ByWeight "Section" "courses" }}
				{{ if eq .Params.menu.courses.parent $currentCourse }}
				<li style="list-style: none;" class="pe-6">
					<span class="course-menu-link-parent"><a href="{{ .RelPermalink }}" placeholder="{{ .Params.title }}">{{ .Params.title | title }}</a></span>
					<template x-if="loaded && progression[{{ .Params.weight }}]"><span class="float-end">✅</span></template>
					<template x-if="loaded && !progression[{{ .Params.weight }}]"><span class="float-end">⬜</span></template>
				</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>

		</td>
		{{ end }}
		</tr>
	</table>
	
    </article>
  </div>
</div>
{{ end }}