
.docs-content .large-text {
    max-width: 600px; font-style: italic; margin-bottom: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.docs-content .italic-text {
    max-width: 100%; font-style: italic; margin-bottom: 12px;
}

.docs-content .medium-image {
    max-width: 100%;
}

.docs-content .image-caption {
    font-style: italic; margin-bottom: 12px;
}

.docs-content code .hljs {
    background: #FFE8FB;
}
