
body.docs-content .large-text {
    max-width: 100%; font-style: italic; margin-bottom: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
body.docs-content .italic-text {
    max-width: 100%; font-style: italic; margin-bottom: 12px;
}

body.docs-content .medium-image {
    max-width: 100%;
}

body.docs-content .image-caption {
    font-style: italic; margin-bottom: 12px;
}
