
body.login {
    height: 100%;
    background: $black;
    color: $white;
    
}

body.login a {
    color: $white;
    text-decoration: underline;
}

body.login .toast {
    background: $body-bg;
    color: $body-color;
}
