{{ define "main" }}
<section class="section section-sm bg-gradient-dark">
  <div class="container pb-7 pt-7">
    <div class="row justify-content-center align-items-center">
      <div
        class="text-white align-items-center align-items-md-start d-flex flex-column gap-4 col-12 col-md-7 order-1 order-md-0">
        <h1>Become a <span class="text-secondary">Web3 dev</span>,<br />land your next job!</h1>
        <div>
          <p class="m-0">M3TASERVE is the Web3 education academy for developers, by developers.</p>
          <p>Designed to future-proof your career.</p>
        </div>
        <a class="btn btn-primary btn-lg" href="https://github.com/localstack/localstack" target="_blank">START LEARNING</a>
      </div>
      <div class="col-12 col-sm-10 col-md-5 order-0 order-md-1">
        <img style="max-width: 100%" src="/images/landing/laptop_stacks.svg"
          alt="Illustration of a laptop in a cloud hosting stacks"></img>
      </div>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0"><img src="/images/localstack.svg" alt="LocalStack Logo" style="max-width: 180px" class="mb-4"> {{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="mb-4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localstack.github.io" data-text="LocalStack - Develop and test your cloud apps offline.">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <iframe src="https://ghbtns.com/github-btn.html?user=localstack&amp;repo=localstack&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" style="margin-left: 10px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=localstack&amp;repo=localstack&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      </div>
    </div>
  </div> -->
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-md" style="margin-top: -7.5rem">
  <div class="container overlay-card stats-card">
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">430<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.875rem; font-weight: 700">CONTRIBUTORS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">13 k<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">SLACK MEMBERS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">42 k<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">GITHUB STARS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">100 M<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">DOCKER PULLS</span>
      </div>
    </div>
  </div>
</section>

<section class="section section-md container">
  <div class="strike-dark">
    <h2 class="text-center">Supported by the best in Web3</h2>
  </div>
  <div class="row justify-content-center text-center mt-6">
    <div class="col-lg-10">
      <div class="row gy-3">
        {{ range .Site.Data.customers -}}
        <div class="col mb-4 d-flex align-items-center justify-content-center">
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .logo }}" class="customer-logo" alt="LocalStack customer">
          </a>
        </div>
        {{ end -}}
      </div>
    </div>

  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2>Learn Blockchain Development the smart way</h1>
          <div>
            <p>Future proof your career by becoming a blockchain developer and join the growing Web3 ecosystem. Learn by coding smart contracts, NFTs, tokens and more with our free courses and unlock exclusive job opportunities with the companies paving the way for a Web3 revolution.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@localstack.cloud">ENROLL NOW</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width:474px; height:412px; border-radius: 30px;" src="/images/landing/jr-korpa-9XngoIpxcEo-unsplash.jpeg" alt="Demo image"></img>
      </div>
    </div>
</section>

<section class="section section-sm bg-gradient-dark mt-n12 pb-14">
  <div class="container mt-12">
    <div class="row text-center justify-content-center gx-3 gy-3 text-white">
      <div class="strike-light mb-6">
        <h2>Explore our free Web3 courses</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/michael-dziedzic-RkAvhhV0Mtk-unsplash.jpeg" alt="core cloud emulation"></img>
          <h3>
            <a href="/solutions/cloud-emulation" class="stretched-link primary text-secondary">
              Blockchain 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn the fundamentals of blockchain and Web3, set up your crypto wallet, get into developer mode, and deploy your first smart contracts, tokens, and NFTs.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/milad-fakurian-nY14Fs8pxT8-unsplash.jpeg" alt="team collaboration"></img>
          <h3>        
            <a href="/solutions/team-collaboration" class="stretched-link text-secondary">
              Solidity 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn Solidity in-depth and fast-track your Ethereum developer career. The course also includes multiple puzzles and coding challenges to hone your Solidity skill sets.</p>
        </div>
      </div>     
    </div>
  </div>
</section>

<section class="section section-sm mt-n11 mb-5">
  <div class="container overlay-card">
    <div class="d-flex flex-column px-4 py-2 px-md-6 py-md-5 px-lg-6 pb-md-6 gap-6">
      <div class="row">
        <div class="strike-dark">
          <h2>Why join M3TASERVE?</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-6">
          <img class="w-100" src="/images/landing/lightning.svg" alt="lightning" />
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center flex-column">
          <p class="benefit-tag">Step 1</p>
          <h2 class="mt-0">Free courses</h2>
          <ul>
            <li>Our courses are free of cost, open source, and always up to date, built by Web3 developers themselves.</li>
          </ul>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-6 order-0 order-lg-1">
          <img class="w-100" src="/images/landing/checkmark.svg" alt="wallet" />
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-0 d-flex justify-content-center flex-column">
          <p class="benefit-tag">Step 2</p>
          <h2 class="mt-0">Self-paced</h2>
          <ul>
            <li>Learn on your own schedule. Our courses are designed to be finished within weeks.</li>
          </ul>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-6">
          <img class="w-100" src="/images/landing/wallet.svg" alt="checkmark" />
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center flex-column">
          <p class="benefit-tag">Step 3</p>
          <h2 class="mt-0">Learn by doing</h2>
          <ul>
              <li>Build your own token, wallet, and use the skills you learn to ship your own projects like an NFT marketplace.</li>
          </ul>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-6 order-0 order-lg-1">
          <img class="w-100" src="/images/landing/checkmark.svg" alt="wallet" />
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-0 d-flex justify-content-center flex-column">
          <p class="benefit-tag">Step 4</p>
          <h2 class="mt-0">Future proof your skills</h2>
          <ul>
            <li>Get chosen for our 2-month private sprint to upskill your strengths and get access to exclusive job opportunities in leading blockchain teams or web3 startups.</li>
          </ul>
        </div>
      </div>      
    </div>
</section>

<section class="section container">
  <div class="strike-dark mt-6">
    <h2 class="text-center">How M3TASERVE works?</h2>
  </div>
  
  <div class="d-flex flex-row mt-6">
      <div class="timeline-grid">
          <div style="grid-column: 2/2; grid-row: 1 / 5" class="p-4 d-none d-lg-flex">
              <div class="bg-white w-100 h-100 justify-content-center d-flex shadow-standard">
                  <div style="background-color: #8A6FE2; width: 14px; border-radius: 30px; z-index: 1003" class="h-100"></div>
              </div>
          </div>
          <div style="grid-column: 1 / 4; grid-row: 1/1">
              {{ partial "misc/timeline-card.html" (dict
                  "cardText" "Sign up and join the bootcamp"
                  "cardDescription" "Get started and sign up for instant access to M3taserve’s self-paced free blockchain development courses"
                  "image" "/images/company/leafs.svg"
                  )
              }}
          </div>
          <div style="grid-column: 1 / 4; grid-row: 2/2">
              {{ partial "misc/timeline-card.html" (dict
                  "cardText" "Complete the “learn by doing” free courses"
                  "cardDescription" "Learn blockchain and solidity fundamentals, submit lesson quizzes and build projects to complete the courses"
                  "image" "/images/company/twittershout.svg"
                  "reverse" "true"
                  )
              }}
          </div>
          <div style="grid-column: 1 / 4; grid-row: 3/3">                
              {{ partial "misc/timeline-card.html" (dict
              "cardText" "Interview with Eniblock and The Sandbox and get hired internally for a 2-month sprint"
              "cardDescription" "Interview with Eniblock and The Sandbox teams and be one of the 15 candidates (1st batch) chosen to be hired internally for a 2-month sprint, where you will directly work with the best Web3 developers on real-life projects"
              "image" "/images/company/10k.svg")
              }}
          </div>
          <div style="grid-column: 1 / 4; grid-row: 4/4">
              {{ partial "misc/timeline-card.html" (dict
                  "cardText" "Receive offers from our partner network. Get hired"
                  "cardDescription" "After completing the 2-month sprint with our internal teams, your profile will be featured to our partner companies so you can land your next job in Web3. We will support you in the hiring process and we will make it easy to get hired and paid working from anywhere"
                  "image" "/images/company/gears.svg"
                  "reverse" "true"
                  )
              }}
          </div>
      </div>
  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2 style="letter-spacing: 0.05em">Looking for Web3 developers?</h1>
          <div>
            <p>Are you a company looking for Web3 developers?</p>
            <p>Partner with M3taserve to find your next hidden gem Web3 developer. Effortlessly hire top remote developers and tremendously reduce the time that you spend sourcing quality candidates.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@localstack.cloud">PARTNER WITH US</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width: 100%" src="/images/landing/demo.webp" alt="Demo image"></img>
      </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{- .Content -}}
{{ end }}
