{{ define "main" }}
<section class="section section-sm bg-gradient-dark">
  <div class="container pb-7 pt-7">
    <div class="row justify-content-center align-items-center">
      <div
        class="text-white align-items-center align-items-md-start d-flex flex-column gap-4 col-12 col-md-7 order-1 order-md-0">
        <h1>Become a <span class="text-secondary">Web3 dev</span>,<br />land your next job!</h1>
        <div>
          <p class="m-0">M3TASERVE is the Web3 education academy for developers, by developers.</p>
          <p>Designed to future-proof your career.</p>
        </div>
        <a class="btn btn-primary btn-lg" href="/courses" target="_blank">START LEARNING</a>
      </div>
      <div class="col-12 col-sm-10 col-md-5 order-0 order-md-1">
        <img style="max-width: 100%" src="/images/landing/metaverse1.svg"
          alt="Illustration of a laptop in a cloud hosting stacks"></img>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-md" style="margin-top: -7.5rem">
  <div class="container overlay-card stats-card">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10 row">
          {{ range .Site.Data.customers -}}
          <div class="col mb-4 mt-4 d-flex align-items-center justify-content-center">
            <a href="{{ .url }}" target="_blank">
              <img src="{{ .logo }}" class="customer-logo" alt="m3taserve customer">
            </a>
          </div>
          {{ end -}}
      </div>
    </div>
  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2>Learn Blockchain Development the smart way</h1>
          <div>
            <p>Future proof your career by becoming a blockchain developer and join the growing Web3 ecosystem. Learn by coding smart contracts, NFTs, tokens and more with our free courses and unlock exclusive job opportunities with the companies paving the way for a Web3 revolution.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">ENROLL NOW</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width: 100%; border-radius: 30px;" src="/images/m3taserve/asset1.1.svg" alt="Demo image"></img>
      </div>
    </div>
</section>

<section class="section section-sm bg-gradient-dark mt-n12 pb-14">
  <div class="container mt-12">
    <div class="row text-center justify-content-center gx-3 gy-3 text-white">
      <div class="strike-light mb-6">
        <h2>Explore our free Web3 courses</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/m3taserve/asset9.svg" alt="core cloud emulation"></img>
          <h3>
            <a href="/solutions/cloud-emulation" class="stretched-link primary text-secondary">
              Blockchain 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn the fundamentals of blockchain and Web3, set up your crypto wallet, get into developer mode, and deploy your first smart contracts, tokens, and NFTs.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/m3taserve/asset8.svg" alt="team collaboration"></img>
          <h3>        
            <a href="/solutions/team-collaboration" class="stretched-link text-secondary">
              Solidity 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn Solidity in-depth and fast-track your Ethereum developer career. The course also includes multiple puzzles and coding challenges to hone your Solidity skill sets.</p>
        </div>
      </div>  
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-12 mt-6" style="align-items: center;">
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">EXPLORE</a>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm mt-n11 bg-gradient-dark">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-12" style="align-items: center;">
        <h2>Start learning and building the next generation of Web3 dApps.</h1>
          <div>
            <p>Join the M3taserve bootcamp with interactive coding challenges, in-depth lessons, projects and expert instructors to teach you to build smart contracts, master solidity, and become a web3 developer.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">TAKE YOUR SPOT</a>
      </div>
    </div>
</section>

<section class="section section-sm bg-gradient-dark pb-6">
  <div class="container pb-6 pt-7">
      <div class="row justify-content-center align-items-center text-white gap-3">
          <h2 class="text-center m-0 pt-5">Why join M3TASERVE?</h2>
      </div>
  </div>
  <div class="container mb-6">
      <div class="row text-center gx-3 gy-3 text-white">
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="color-card-border">
                  <div class="pricing-card gap-4">
                      <h3 class="text-secondary">Free <br />courses</h3>
                      <div class="d-flex flex-column gap-4">
                          {{ partial "misc/pricing-feature.html" (dict "featureName" "Our courses are free of cost") }}
                          {{ partial "misc/pricing-feature.html" (dict "featureName" "Open source and always up to date") }}
                          {{ partial "misc/pricing-feature.html" (dict "featureName" "Built by Web3 developers themselves") }}
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3 class="text-secondary">Self-<br />paced</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Comprehensive self-paced program") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Anytime, anywhere access to course material") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Learn on-demand, all at once or a few minutes at a time") }}
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3 class="text-secondary">Learn by <br />doing</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Get foundational understanding of blockchain") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Build your own token or wallet") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Use the skills you learn to ship your own projects") }}
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3 class="text-secondary">Future proof your skills</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Get chosen for our 2-month private sprint") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Get the skills you need to become an industry-leading developer") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Get access to exclusive job opportunities with leading Web3 teams") }}
                    </div>
                </div>
            </div>
          </div>                             
      </div>
  </div>
</section>

<section class="section section-sm bg-gradient-dark mt-n12 pb-14">
  <div class="container mt-12">
    <div class="row text-center gx-3 gy-3 text-white">
      <div class="strike-light mb-6">
        <h2 style="letter-spacing: 0.05em">How M3TASERVE works?</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588177.jpg" alt="core cloud emulation"></img>
          <h3>
            <a href="/solutions/cloud-emulation" class="stretched-link text-white">
              Sign up and join the bootcamp
            </a>
          </h3>
          <div class="divider"></div>
          <p>Get started and sign up for instant access to M3taserve’s self-paced free blockchain development courses.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/m3taserve/asset8.svg" alt="team collaboration"></img>
          <h3>        
            <a href="/solutions/team-collaboration" class="stretched-link text-white">
              Complete the courses
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn blockchain and solidity fundamentals, submit lesson quizzes and build projects to complete the courses.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/m3taserve/asset9.svg" alt="enterprise"></img>
          <h3>        
            <a href="/solutions/enterprise-integration" class="stretched-link text-white">
              2-months sprint <br />with us
            </a>
          </h3>
          <div class="divider"></div>
          <p>Interview with us and be one of the candidates chosen to be hired and personally trained by our internal dev team for a 2-month sprint.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="solution-card flex-lg-row">
          <img style="max-width: 400px;" src="/images/m3taserve/asset7.svg" alt="ecosystem"></img>
          <div class="d-flex flex-column align-items-center align-items-lg-start gap-4">
            <h3>
              <a href="/solutions/ecosystem" class="stretched-link text-white">
                Get hired by our partner network
              </a>
            </h3>
            <div class="divider"></div>
            <p class="text-lg-start">After completing the 2-month sprint, your profile will be featured to our partner companies so you can land your next job in Web3. We will support you in the hiring process and we will make it easy to get hired and paid working from anywhere.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2>Looking for Web3 developers?</h1>
          <div>
            <p>Are you a company looking for Web3 developers?</p>
            <p>Partner with M3taserve to find your next hidden gem Web3 developer. Effortlessly hire top remote developers and tremendously reduce the time that you spend sourcing quality candidates.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">PARTNER WITH US</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width: 100%; border-radius: 30px;" src="/images/m3taserve/asset2.svg" alt="Demo image"></img>
      </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{- .Content -}}
{{ end }}
