{{ define "main" }}
<section class="section section-sm bg-gradient-dark">
  <div class="container pb-7 pt-7">
    <div class="row justify-content-center align-items-center">
      <div
        class="text-white align-items-center align-items-md-start d-flex flex-column gap-4 col-12 col-md-7 order-1 order-md-0">
        <h1>Become a <span class="text-secondary">Web3 dev</span>,<br />land your next job!</h1>
        <div>
          <p class="m-0">M3TASERVE is the Web3 education academy for developers, by developers.</p>
          <p>Designed to future-proof your career.</p>
        </div>
        <a class="btn btn-primary btn-lg" href="/courses" target="_blank">START LEARNING</a>
      </div>
      <div class="col-12 col-sm-10 col-md-5 order-0 order-md-1">
        <img style="max-width: 100%" src="/images/landing/Asset 1.svg"
          alt="Illustration of a laptop in a cloud hosting stacks"></img>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-md" style="margin-top: -7.5rem">
  <div class="container overlay-card stats-card">
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">430<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.875rem; font-weight: 700">CONTRIBUTORS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">13 k<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">SLACK MEMBERS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">42 k<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">GITHUB STARS</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <span style="font-size: 2.5rem; font-weight: 800">100 M<span style="color: #E126C3">+</span></span><br>
        <span style="font-size: 0.87rem; font-weight: 700">DOCKER PULLS</span>
      </div>
    </div>
  </div>
</section>

<section class="section section-md container">
  <div class="strike-dark">
    <h2 class="text-center">Supported by the best in Web3</h2>
  </div>
  <div class="row justify-content-center text-center mt-6">
    <div class="col-lg-10">
      <div class="row gy-3">
        {{ range .Site.Data.customers -}}
        <div class="col mb-4 d-flex align-items-center justify-content-center">
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .logo }}" class="customer-logo" alt="m3taserve customer">
          </a>
        </div>
        {{ end -}}
      </div>
    </div>

  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2>Learn Blockchain Development the smart way</h1>
          <div>
            <p>Future proof your career by becoming a blockchain developer and join the growing Web3 ecosystem. Learn by coding smart contracts, NFTs, tokens and more with our free courses and unlock exclusive job opportunities with the companies paving the way for a Web3 revolution.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">ENROLL NOW</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width: 100%; border-radius: 30px;" src="/images/landing/6588177.jpg" alt="Demo image"></img>
      </div>
    </div>
</section>

<section class="section section-sm bg-gradient-dark mt-n12 pb-14">
  <div class="container mt-12">
    <div class="row text-center justify-content-center gx-3 gy-3 text-white">
      <div class="strike-light mb-6">
        <h2>Explore our free Web3 courses</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588203.jpg" alt="core cloud emulation"></img>
          <h3>
            <a href="/solutions/cloud-emulation" class="stretched-link primary text-secondary">
              Blockchain 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn the fundamentals of blockchain and Web3, set up your crypto wallet, get into developer mode, and deploy your first smart contracts, tokens, and NFTs.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588187.jpg" alt="team collaboration"></img>
          <h3>        
            <a href="/solutions/team-collaboration" class="stretched-link text-secondary">
              Solidity 101
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn Solidity in-depth and fast-track your Ethereum developer career. The course also includes multiple puzzles and coding challenges to hone your Solidity skill sets.</p>
        </div>
      </div>     
    </div>
  </div>
</section>

<section class="section section-sm mt-n11 mb-5">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-12" style="align-items: center;">
        <h2>Start learning and building the next generation of Web3 dApps.</h1>
          <div>
            <p>Join the M3taserve bootcamp with interactive coding challenges, in-depth lessons, projects and expert instructors to teach you to build smart contracts, master solidity, and become a web3 developer.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">TODO</a>
      </div>
    </div>
</section>

<!-- <section class="section section-sm mt-n11 mb-5">
  <div class="container overlay-card">
    <div class="d-flex flex-column px-4 py-2 px-md-6 py-md-5 px-lg-6 pb-md-6 gap-6">
      <div class="row">
        <div class="strike-dark">
          <h2>Why join M3TASERVE?</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-lg-12 d-flex justify-content-center flex-column">
          <h2 class="mt-0">Start learning and building the next generation of Web3 dApps. </h2>
          <p>Join the M3taserve bootcamp with interactive coding challenges, in-depth lessons, projects and expert instructors to teach you to build smart contracts, master solidity, and become a web3 developer.</p>
        </div>
      </div>    
    </div>
</section> -->

<section class="section section-sm bg-gradient-dark pb-6">
  <div class="container pb-6 pt-7">
      <div class="row justify-content-center align-items-center text-white gap-3">
          <h1 class="text-center m-0 pt-5">How M3TASERVE works?</h1>
      </div>
  </div>
  <div class="container mb-6">
      <div class="row text-center gx-3 gy-3 text-white">
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="color-card-border">
                  <div class="pricing-card gap-4">
                      <h3>Free courses</h3>
                      <div class="d-flex flex-column gap-4">
                          {{ partial "misc/pricing-feature.html" (dict "featureName" "Basic APIs") }}
                          {{ partial "misc/pricing-feature.html" (dict "featureName" "m3taserve Cockpit UI") }}
                      </div>
                      <div class="w-100 flex-grow-1 d-flex align-items-end">
                          <a href="https://github.com/m3taserve/m3taserve" target="_blank" class="btn btn-primary btn-tertiary w-100">GET STARTED</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3>Self-paced</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Basic APIs") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "m3taserve Cockpit UI") }}
                    </div>
                    <div class="w-100 flex-grow-1 d-flex align-items-end">
                        <a href="https://github.com/m3taserve/m3taserve" target="_blank" class="btn btn-primary btn-tertiary w-100">GET STARTED</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3>Learn by doing</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Basic APIs") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "m3taserve Cockpit UI") }}
                    </div>
                    <div class="w-100 flex-grow-1 d-flex align-items-end">
                        <a href="https://github.com/m3taserve/m3taserve" target="_blank" class="btn btn-primary btn-tertiary w-100">GET STARTED</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="color-card-border">
                <div class="pricing-card gap-4">
                    <h3>Future proof your skills</h3>
                    <div class="d-flex flex-column gap-4">
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "Basic APIs") }}
                        {{ partial "misc/pricing-feature.html" (dict "featureName" "m3taserve Cockpit UI") }}
                    </div>
                    <div class="w-100 flex-grow-1 d-flex align-items-end">
                        <a href="https://github.com/m3taserve/m3taserve" target="_blank" class="btn btn-primary btn-tertiary w-100">GET STARTED</a>
                    </div>
                </div>
            </div>
          </div>                             
      </div>
  </div>
  <div class="container text-white fst-italic d-flex flex-column gap-2 fs-6">
      <div>
          * 14 days <b>free trial</b>, plus 20% introductory discount for the first 2 months
      </div>
      <div>
          ** 14 days <b>free trial</b>, plus 50% introductory discount for the first 3 months
      </div>
      <div>
          1: 100 base credits for the first 3 users + 20 additional credits per additional user / month
      </div>
      <div>
          2: 1000 base credits for the first 3 users + 200 additional credits per user / month
      </div>
      <div>
          3: managed cloud storage, limit of 500 MB per user
      </div>
      <div>
          4: managed cloud storage, limit of 5 GB per seat
      </div>
      <div>
          If you are a student or an educator, you can avail 6 months educational access to m3taserve through 
          our <a href="/educational-license" class="text-white"><u>Educational License program</u></a>.
      </div>
      <div>
          If you are running a non-commercial, open-source project, you can avail 12 months access to m3taserve through
          our <a href="/open-source-sponsorship" class="text-white"><u>Open Source Sponsorship program</u></a>.
      </div>
  </div>
</section>

<section class="section section-sm bg-gradient-dark mt-n12 pb-14">
  <div class="container mt-12">
    <div class="row text-center gx-3 gy-3 text-white">
      <div class="strike-light mb-6">
        <h2 style="letter-spacing: 0.05em">How M3TASERVE works?</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588177.jpg" alt="core cloud emulation"></img>
          <h3>
            <a href="/solutions/cloud-emulation" class="stretched-link text-white">
              Sign up & Join the bootcamp
            </a>
          </h3>
          <div class="divider"></div>
          <p>Get started and sign up for instant access to M3taserve’s self-paced free blockchain development courses.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588168.jpg" alt="team collaboration"></img>
          <h3>        
            <a href="/solutions/team-collaboration" class="stretched-link text-white">
              Complete the courses
            </a>
          </h3>
          <div class="divider"></div>
          <p>Learn blockchain and solidity fundamentals, submit lesson quizzes and build projects to complete the courses.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="solution-card">
          <img src="/images/landing/6588203.jpg" alt="enterprise"></img>
          <h3>        
            <a href="/solutions/enterprise-integration" class="stretched-link text-white">
              2-months sprint <br />with us
            </a>
          </h3>
          <div class="divider"></div>
          <p>Interview with us and be one of the 15 candidates (1st batch) chosen to be hired internally for a 2-month sprint, where you will directly work with the best Web3 developers on real-life projects.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="solution-card flex-lg-row">
          <img style="max-width: 400px;" src="/images/landing/6588179.jpg" alt="ecosystem"></img>
          <div class="d-flex flex-column align-items-center align-items-lg-start gap-4">
            <h3>
              <a href="/solutions/ecosystem" class="stretched-link text-white">
                Get hired by our partner network
              </a>
            </h3>
            <div class="divider"></div>
            <p class="text-lg-start">After completing the 2-month sprint, your profile will be featured to our partner companies so you can land your next job in Web3. We will support you in the hiring process and we will make it easy to get hired and paid working from anywhere.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card">
    <div class="row gy-3 p-2 p-md-5 justify-content-around">
      <div class="d-flex flex-column gap-4 justify-content-center col-12 col-lg-5">
        <h2 style="letter-spacing: 0.05em">Looking for Web3 developers?</h1>
          <div>
            <p>Are you a company looking for Web3 developers?</p>
            <p>Partner with M3taserve to find your next hidden gem Web3 developer. Effortlessly hire top remote developers and tremendously reduce the time that you spend sourcing quality candidates.</p>
          </div>
          <a class="btn btn-primary btn-lg" href="mailto:info@m3taserve.cloud">PARTNER WITH US</a>
      </div>
      <div class="col-12 col-lg-6">
        <img style="max-width: 100%; border-radius: 30px;" src="/images/landing/6588152.jpg" alt="Demo image"></img>
      </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{- .Content -}}
{{ end }}
