/* Poppins-regular - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Regular Regular"),   // Full Name
    local("Poppins-Regular"),           // PostScript name
    // indestructible Poppins*
    local("Poppins* Book"),
    local("Poppins-Book"),
    url("fonts/vendor/poppins/Poppins-Regular.ttf") format("ttf"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-500 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Regular Medium"),
    local("PoppinsRoman-Medium"),
    // indestructible Poppins*
    local("Poppins* Medium"),
    local("Poppins-Medium"),
    url("fonts/vendor/poppins/Poppins-Medium.ttf") format("ttf"),
}

/* Poppins-700 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Regular Bold"),
    local("PoppinsRoman-Bold"),
    // indestructible Poppins*
    local("Poppins* Bold"),
    local("Poppins-Bold"),
    url("fonts/vendor/poppins/Poppins-Bold.ttf") format("ttf"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Italic Italic"),
    local("Poppins-Italic"),
    // indestructible Poppins*
    local("Poppins* BookItalic"),
    local("Poppins-BookItalic"),
    url("fonts/vendor/poppins/Poppins-Italic.ttf") format("ttf"),
}

/* Poppins-500italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Italic Medium Italic"),
    local("PoppinsItalic-Medium"),
    // indestructible Poppins*
    local("Poppins* Medium Italic"),
    local("Poppins-MediumItalic"),
    url("fonts/vendor/poppins/Poppins-MediumItalic.ttf") format("ttf"),
}

/* Poppins-700italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Poppins
    local("Poppins Italic Bold Italic"),
    local("PoppinsItalic-Bold"),
    // indestructible Poppins*
    local("Poppins* Bold Italic"),
    local("Poppins-BoldItalic"),
    url("fonts/vendor/poppins/Poppins-BoldItalic.ttf") format("ttf"),
}
